<settings>
  <servers>
    <server>
      <id>ossrh</id>
      <username>${env.OSSRH_USERNAME}</username>
      <password>${env.OSSRH_TOKEN}</password>
   </server>
  </servers>
  <profiles>
    <profile>
      <id>oss-repository</id>
      <properties>
        <gpg.keyname>${env.GPG_KEY_NAME}</gpg.keyname>
        <gpg.passphrase>${env.GPG_PASSPHRASE}</gpg.passphrase>
        <gpg.executable>/usr/bin/gpg</gpg.executable>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>oss-repository</activeProfile>
  </activeProfiles>
</settings>
